/* CSS */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    padding: 32px 32px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #111;
    position: sticky;
    top: 0;
    z-index: 99;

    background-color: #fff;
}

nav a {
    font-size: 24px;
    font-family: "synthese", sans-serif;
    font-weight: 900;
    font-style: normal;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    color: #111;
}

nav .fa-solid {
    display: block;
    color: #111;
    margin: 10px;
    cursor: pointer;
}

h1 {
    font-size: 64px;
    font-family: "synthese", sans-serif;
    font-weight: 900;
    font-style: normal;

    color: #111;
}

h2 {
    font-size: 32px;
    font-family: "synthese", sans-serif;
    font-weight: 900;
    font-style: normal;

    color: #111;
}

h3 {
    font-size: 24px;
    font-family: "synthese", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;

    color: #111;
}

h4 {
    font-size: 20px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;

    color: #111;
}

h5 {
    font-size: 20px;
    font-family: "utopia-std", serif;
    font-weight: 500;
    font-style: normal;

    color: #111;
}

p {
    font-size: 16px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #111;
}

a, a:visited {
    color: #111;
}

.form-box div h2{
    margin-bottom: 32px;
}

.form-box div h5 {
    margin-bottom: 16px;
}

input:focus, textarea:focus {
    outline: none;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

/* Menu */
.menu ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
}

.menu ul a {
    font-size: 16px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #111;
}

.menu ul a:hover {
    color: #02C39A;
}

/* Homepage */

.landing-area {
    height: 92.55vh;
}

.landing-area spline-viewer {
    display: block;
    position: absolute;
    height: 92.5vh;
    top: 103px;
    z-index: 0;
}

.big-title {
    color: #111;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    z-index: 95;
}

.big-title h1 {
    font-size: 10vh;
}

.big-title h5 {
    margin-top: 32px;
    color: #111;
    font-size: 2.5vh;
}

.cta-button {
    display: inline-block;
    background: #fff;
    color: #111;
    border: 2px solid #111;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding: 14px 30px;
    position: relative;
    cursor: pointer; 
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;

    font-size: 24px;
    font-family: "synthese", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.cta-button:hover {
    border: 2px solid #02C39A;
    padding: 14px 30px;

    background: #02C39A;
    color: #fff;
    transition: 0.1s; 
}

/* Pages */

.form-area {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.form-container {
    position: relative;
    width: 100%;
}

.tooltip-icon {
    position: absolute;
    top: 128px;
    right: 32px;

    color: #111;
    background-color: #fff;
    border: 2px solid #111;
    border-radius: 50px;
    padding: 8px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    justify-content: center;
    text-align: center;

    z-index: 95;
}

.tooltip-icon i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip-icon.active i:before {
    content: '\f00d';
}

.tooltip-icon:hover {
    cursor: pointer;

    color: #49B6FF;
    border-color: #49B6FF;
}

.tooltip-container {
    position: relative;
    right: -64px;
    width: 0%;
    padding: 32px 0;
    background-color: #fff;

    transition: 0.5s ease;
}

.tooltip-container br {
    display: block;
    margin-top: 8px;
}

.tooltip-container.active {
    right: 0;
    width: 25%;
    border-left: 1px solid #111;

    padding: 32px;

    transition: 0.5s ease;
}

.tooltip-name {
    width: 80%;
}

.tooltip-text {
    margin-top: 32px;
}

.tooltip-prompt {
    margin-top: 8px;
    text-decoration: underline;
    font-weight: 700;

    display: none;
}

.tooltip-prompt.active {
    display: block;
}

.tooltip-prompt:hover {
    cursor: pointer;
    color: #49B6FF;
}

.form-box {
    position: absolute;
    margin: 64px 0;
    padding: 32px;
    width: 50%;
    height: auto;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);

    box-sizing: border-box;
    min-width: 640px;
}

.breakdown-box {
    position: relative;
    margin-bottom: 64px;

    box-sizing: border-box;
}

.fa-arrow-right {
    margin-right: 16px;
}

.running-bar {
    position: relative;
    height: 56px;
    overflow: hidden;
    border-top: 1px solid #111;

    background-color: #DA3E52;
}

.border-bottom {
    border-top: none;
    border-bottom: 1px solid #111;
}

.running-bar:hover .running-text {
    animation-play-state: paused;
}

.running-text {
    position: absolute;
    margin: 14px 0 16px 0;
    padding: 0;
    width: max-content;
    color: #fff;

    font-size: 24px;
    font-family: "utopia-std", serif;
    font-weight: 400;
    font-style: normal;

    animation: text-run 24s linear infinite;
}

.running-text a:visited {
    color: #fff;
}

.running-text a:link {
    text-decoration: underline;
    color: #fff;
}

.footer {
    display: grid;
    background-color: #fff;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    border-top: 1px solid #111;
    height: 120px;
    z-index: 95;
}

.footer-item {
    padding: 16px;
    width: auto;
    border-right: 1px solid #111;
    color: #111;
}

.footer ul li{
    list-style: none;

    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer a:visited {
    text-decoration: underline;
    color: #111;
}

.footer ul li a:hover, .footer-item a:hover {
    color: #02C39A;
}

/* Gallery */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px 0;

    border-bottom: 1px solid #111;
}

.gallery-title {
    padding: 48px 16px 16px 32px;
    border-bottom: 1px solid #111;
}

.gallery-card {
    position: relative;
    height: 100%;

    border: 1px solid #111;
    border-left: none;
    border-top: none;

    color: #111;
    text-decoration: none;
}

.gallery-card:hover {
    cursor: pointer;
}

.gallery-card:hover h4 {
    color: #02C39A;
}

.gallery-card:nth-child(4n) {
    border-right: none;
}

.footer-last, .gallery-last {
    border-right: none;
}

.gallery-card img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-bottom: 1px solid #111;
}

#duolingo:hover {
    content: url("/images/duolingoChart.png");
}

#shopee:hover {
    content: url("/images/shopeeChart.png");
}

#uber:hover {
    content: url("/images/uberChart.png");
}

.gallery-card h4 {
    margin: 8px 32px;
    
    font-size: 20px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.gallery-card h5 {
    margin: 16px 32px;

    font-size: 18px;
    font-family: "utopia-std", serif;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.gallery-card p {
    margin: 8px 32px;

    font-size: 16px;
    font-family: "proximanova", sans-serif;
    font-weight: 400;

    width: 85%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Search & Filter */

.search-filter {
    margin: 64px 0 32px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.search {
    width: 48px;
    height: 41px;
    border: 3px solid #111;
    border-radius: 10px;
    transition: 0.5s ease;
    overflow: hidden;
    color: #111;
    font-size: 24px;
}

.search.show {
    width: 326px;
}

.search-icon {
    position: relative;
    width: 16px;
    cursor: pointer;
    top: 8px;
    bottom: 8px;
    left: 12px;
}

.search-icon.click i:before {
    content: '\f00d';
    margin-left: 4px;
}

.search-input {
    position: relative;
    width: inherit;
    height: inherit;
    left: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input input {
    position: absolute;
    top: -27px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-right: 12px;

    font-size: 14px;
    font-family: "utopia-std", serif;
    font-weight: 400;
    font-style: normal;
}

.sort-filter {
    margin: 0;

    display: flex;
    flex-wrap: wrap;
}

#sort {
    min-width: 104px;
}

#filter {
    min-width: 168px;
}

/* Dropdown */

.dropdown {
    position: relative;
    margin-left: 16px;

    font-size: 16px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dropdown * {
    box-sizing: border-box;
}

.dropdown-button {
    background: #fff;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #111; 
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.1s;
}

.dropdown-button:hover {
    background: #111;
    color: #fff;
}

.dropdown-button i{
    position: absolute;
    top: 12px;
    right: 16px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.dropdown-button.click i:before {
    position: absolute;
    top: 2px;    
    right: 0px;
    content: '\f077';
}

.dropdown-menu {
    position: absolute;
    top: 52px;
    left: 50%;
    width: 100%; 
    transform: translateX(-50%);
    list-style: none;
    color: #111;
    background: #fff;
    border: 3px solid #111;
    border-radius: 10px;
    opacity: 0;
    display: none;
    transition: 0.1s;
    z-index: 2;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

.dropdown-menu li {
    padding: 8px 16px;
    border-radius: 7px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    color: #fff;
    background: #111;
}

.sort-option.click, .filter-option.click, .analysis-option.click {
    color: #fff;
    background: #111;
}

/* Pagination */

.gallery-nav {
    position: relative;
    margin: 136px 0 32px 32px;
    right: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.pagination {
    position: absolute;
    bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
    user-select: none;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    color: #111;
    text-decoration: none;
}

.pagination li.active {
    text-decoration: underline;
    pointer-events: none;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: absolute;
    right: 114px;
    bottom: 0;
}

.current-page, .dots {
    position: relative;
    top: 24px;

    font-size: 20px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Back and Next buttons */

.back-button, .next-button {
    background: #fff;
    color: #111;
    border: 2px solid #111;
    border-radius: 50px;

    padding: 13px 29px;

    font-size: 24px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.back-button a, .next-button a {
    text-decoration: none;
}

.back-button a:visited, .next-button a:visited{
    color: #111;
}

.back-button:hover, .next-button:hover {
    color: #02C39A;
    border-color: #02C39A;
    cursor: pointer;
}

.back-button:hover a, .next-button:hover a{
    color: #02C39A;
}

.back-button.inactive, .next-button.inactive {
    color: #222;
    opacity: 50%;
    cursor: default;
    pointer-events: none;
}

/* Back to Top button */

.top-button {
    position: sticky;
    width: 0;
    height: 0;
    float: right;
    right: 98px;
    bottom: 0;
}

.back-top {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    bottom: 100px;

    text-align: center;
    line-height: 76px;
    font-size: 32px;
    z-index: 98;

    scale: 0.5;
    color: #111;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid #111;

    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.back-top:hover {
    color: #02C39A;
    border-color: #02C39A;
    transition: 0.1s ease;
}

.back-top.active {
    opacity: 1;
    scale: 1;
    cursor: pointer;
    pointer-events: visible;
}

#scroll-target {
    position: relative;
    top: -64px;
}

/* Form Items */

.form-item {
    position: absolute;
    width: 100%;
    min-width: 680px;
    top: 0;
    left: 0;

    transition: 0.5s ease;
}

.form-nav {
    position: relative;
    margin: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.form-buttons {
    margin: 16px 0;
}

.form-item.preload {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

.form-item.inactive {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.form-item.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0px);
}

#form-next {
    margin-left: 12px;
}

#project-details input, #project-details textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #111;
    border-radius: 10px;
    padding: 12px 16px;

    font-size: 14px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#name {
    margin-top: 16px;
    height: 36px;
}

#description {
    margin-top: 8px;
    height: 200px;

    resize: none;
}

.select {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.select-option {
    padding: 4px 25px 8px;
    color: #111;
    background-color: #fff;

    border: 1px solid #111;
    border-radius: 50px;

    font-size: 20px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.select-option:hover {
    color: #02C39A;
    border: 1px solid #02C39A;
    transition: 0.1s ease;
    cursor: pointer;
}

.select-option.active {
    color: #fff;
    background-color: #02C39A;
    border: 1px solid #02C39A;
}

.mouseover {
    position: fixed;
    display: none;

    opacity: 0;
    visibility: hidden;
}

/* Progress Bar */

.progress-bar {
    position: relative;
    top: 0em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;

    opacity: 0;
    pointer-events: none;
}

.progress-bar.active {
    opacity: 1;
}

.progress-bar ul {
    display: flex;
    margin-top: 28px;
    margin-left: -8px;
}

.progress-bar ul li {
    position: relative;
    list-style: none;
    display: flex;
    width: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 48px;
}

.progress-bar p {
    margin: 4px 0;
    color: #ddd;

    font-size: 14px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.progress-bar p.active {
    color: #111;
}

.progress-item {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    background-color: #ddd;
    position: relative;
}

.progress-item::after {
    content: " ";
    position: absolute;
    top: 6px;
    right: 16px;
    width: 64px;
    height: 4px;
    background-color: #ddd;
    cursor: default;
}

.progress-item.active {
    background-color: #111;
}

.progress-item.active::after {
    top: 6px;
    right: 16px;
    background-color: #111;
}

#progress-one::after {
    width: 0px;
    height: 0px;
}

/* Drag List */
.drag-list{
    list-style: none;
}

.drag-list li {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 4px 0;
}

.drag-list li.over {
    color: #fff;
    background-color: #111;
}

.drag-number {
    margin-top: 4px;
    text-align: center;

    font-size: 24px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.drag-item {
    padding: 4px 32px 8px;
    color: #111;
    background-color: #fff;

    border: 1px solid #111;
    border-radius: 50px;
    cursor: grab;
}

.drag-item.over {
    color: #fff;
    background-color: #02C39A;
    border: 1px solid #02C39A
}

.drag-item p {
    font-size: 20px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

/* Breakdown */
.breakdown-landing {
    height: 75vh;
}

.breakdown-back {
    margin-top: 30px;
}

.preview-window {
    position: relative;
    margin: 5vh 0;
    height: 95%;
    width: 95%;
    left: 50%;
    transform: translate(-50%, 0px);
    overflow: hidden;

    border-radius: 10px;
    background-color: #eee;
}

.preview-window::-webkit-scrollbar{
    display: none;
}

.preview-bar {
    height: 16px;
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
    padding: 8px 16px;
}

.preview-bar ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.preview-button {
    height: 16px;
    width: 16px;
    border-radius: 50px;
    list-style: none;
}

.red {
    background-color: #DA3E52;
}

.yellow {
    background-color: #E6AF2E;
}

.green {
    background-color: #02C39A;
}

.preview-display {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.project-character {
    border-radius: 0 0 0 15px;
    width: 100%;
    min-width: 25%;
    max-width: 30%;

    overflow-y: scroll;
}

.character-avatar {
    position: relative;
    min-height: 80%;
    overflow-y: scroll;

    justify-content: center;
    align-items: center;
}

.character-avatar spline-viewer {
    display: block;
    position: absolute;

    z-index: 1;
}

.character-avatar img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: -18.5%;
}

.project-name {
    padding: 8px 16px;
    min-height: 76px;
    border-top: 1px solid #111;
    
    text-align: center;
    overflow-wrap: break-word;

    line-height: 1.2em;
}

.project-info {
    border-left: 1px solid #111;
    width: 100%;

    overflow-y: scroll;
}

.project-description {
    margin-top: 8px;
    padding: 16px 32px;
}

.tags-class {
    margin-top: -16px;
    padding: 16px 32px;
    font-size: 18px;
    font-family: "utopia std", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;

    border-bottom: 1px solid #111;
}

.project-tags {
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
}

.elements-field {
    padding: 16px 32px 32px 32px;
    list-style: none;
    height: fit-content;
}

.elements-field li {
    text-align: baseline;
    justify-content: baseline;
    align-content: baseline;
}

.key-elements, .secondary-elements, .supporting-elements {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px;
}

.element-item {
    margin-top: -4px;
    padding: 6px 20px 8px 20px;
    border: 2px solid #111;
    border-radius: 50px;
    color: #111;
    background-color: #fff;

    font-size: 16px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chat-prompt:hover {
    cursor: context-menu;
    text-decoration: underline;

    border-color: #49B6FF;
    color: #49B6FF;
}

.scroll-prompt {
    justify-self: center;
    text-align: center;
    padding-bottom: 32px;

    color: rgba(0, 0, 0, 0.5);
}

.feedback-item:hover {
    cursor: pointer;

    border-color: #02C39A;
    color: #02C39A;
}

.feedback-item.active {
    border: 2px solid #02C39A;
    background-color: #02C39A;
    color: #fff;
}

.breakdown-body {
    max-height: 90vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #111;
}

.breakdown-chart {
    width: 70%;
}

.breakdown-chart canvas {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.breakdown-karma {
    border-left: 1px solid #111;
    padding: 32px;
    width: auto;
    max-width: 30%;
    overflow-y: scroll;
}

#karma-description {
    margin: 16px 0;
}

.breakdown-suggestion {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #111;
}

.breakdown-suggestion div {
    width: 50%;
}

.suggestion-intro {
    background-color: #49B6FF;
    border-right: 1px solid #111;
}

.suggestion-intro h1 {
    padding: 20vh 32px;
}

.suggestion-field {
    filter: blur(5px);
    transition: 1s ease;
    padding: 32px 0;
}

.suggestion-field:hover {
    cursor: help;
}

.suggestion-field.active {
    filter: blur(0);
    pointer-events: none;
}

.suggestion-field p {
    padding: 0 32px;
}

.breakdown-feedback {
    position: relative;
    text-align: center;
    padding: 64px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.feedback-intro.inactive {
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: 0.3s ease;
}

.feedback-buttons {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.yes-button, .no-button {
    padding: 4px 32px 8px 32px;
    display: flex;
    border: 2px solid #111;
    border-radius: 50px;
    color: #111;
    background-color: #fff;

    font-size: 20px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;

    align-items: center;
}

.submit-button {
    width: 96px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 32px 8px 28px;
    border: 2px solid #222;
    border-radius: 50px;
    color: #222;
    background-color: #fff;
    opacity: 0.5;

    font-size: 20px;
    font-family: "synthese", sans-serif;
    font-weight: 700;
    font-style: normal;

    align-items: center;
    display: flex;
    pointer-events: none;
}

.submit-button.active {
    color: #111;
    opacity: 1;

    pointer-events: all;
}

.submit-button i, .yes-button i, .no-button i {
    margin-right: 8px;
    margin-top: 4px;
}

.yes-button:hover, .no-button:hover, .submit-button:hover {
    cursor: pointer;
    color: #02C39A;
    border-color: #02C39A;
}

.feedback-options, .feedback-thanks {
    display: none;
    pointer-events: none;
}

.feedback-options.active, .feedback-thanks.active {
    display: block;
    pointer-events: all;
}

.feedback-thanks span {
    color: #111;
    text-decoration: underline;
}

.feedback-thanks span:hover {
    color: #02C39A;
    cursor: pointer;
}

/* Cards */

.breakdown-cards {
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    margin-bottom: -64px;

    border-top: 1px solid #111;
}

.border-none {
    border: none;
}

.card-box {
    position: relative;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.card-item {
    position: absolute;
    top: 0;
    left: 40%;
    background-color: #ddd;
    width: 256px;
    height: 320px;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    transition: 0.5s ease;
}

.card-item.active {
    opacity: 1;
    transform: translateX(0px);
}

.card-item.inactive {
    opacity: 0;
    transform: translateX(150%);
}

.card-item h3 {
    color: #fff;
}

.card-item h4 {
    margin-top: 32px;
    color: #fff;
}

.card-item p {
    margin-top: 16px;
    color: #fff;
}

.card-item li {
    margin-left: 16px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #fff;
}

.small-text {
    margin-top: auto;
    margin-right: -4px;
    margin-bottom: -4px;
    float: right;
    align-self: flex-end;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.cards-buttons {
    margin-top: 360px;
    margin-left: auto;
    margin-right: 78px;
    width: 286px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* Chatbot */
.chatbot {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
}

.chat-icon {
    display: block;
    position: relative;
    height: 64px;
    width: 64px;
    left: 32px;
    bottom: 96px;

    align-items: center;
    justify-items: center;
    text-align: center;

    z-index: 99;
}

.chat-icon:hover {
    cursor: pointer;
}

.chat-icon p {
    font-size: 64px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-circle {
    position: absolute;
    left: 32px;
    bottom: 32px;
    color: #111;
    font-size: 16px;
    user-select: none;
    pointer-events: none;

    font-size: 12px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

    animation: animate 7.5s linear infinite;
}

.chat-circle span {
    position: absolute;
    top: -64px;
    display: inline-block;
    transform-origin: 0 64px;
}

.chat-close {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 336px;
    bottom: 32px;
    border: 2px solid #111;
    border-radius: 50px;
    padding: 24px;
    font-size: 28px;

    transition: 0.5s ease;
}

.chat-close i, .chat-send i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-close.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    background-color: #fff;
    left: 336px;
    z-index: 99;
}

.chat-close:hover {
    transform: rotate(-7.5deg);
    transition: 0.3s ease;
    color: #02C39A;
    border: 2px solid #02C39A;
}

.chat-interface {
    position: fixed;
    left: -324px;
    bottom: 0;
    width: 320px;
    background-color: #fff;
    border: 2px solid #111;
    border-left: none;
    border-bottom: none;

    transition: 0.5s ease;
    z-index: 99;
}

.chat-interface.active {
    pointer-events: all;
    left: 0;
}

.chat-top {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #111;
}

.chat-switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
}
  
.chat-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    border: 2px solid #111;
    border-radius: 50px;
}
  
.slider-toggle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -2px;
    bottom: -2px;
    background-color: #fff;
    border: 2px solid #111;
    transition: 0.3s ease;
    border-radius: 50px;
}
  
input:checked + .slider-toggle {
    background-color: #49B6FF;
}
  
input:checked + .slider-toggle:before {
    transform: translateX(22px);
}

.chat-bottom {
    display: flex;
}

.chat-field {
    position: relative;
    overflow-y: scroll;
    bottom: 0;
    padding: 16px;
    min-height: 30vh;
    max-height: 63vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chat-field div {
    font-size: 14px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chat-bottom {
    border-top: 1px solid #111;
    padding: 16px;
}

#chat-input {
    border: 1px solid #111;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    padding: 10px 8px;
    width: 240px;

    font-size: 12px;
    font-family: "synthese", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chat-send {
    position: relative;
    padding: 16px 24px;
    border: 1px solid #111;
    border-radius: 0px 10px 10px 0px;
    color: #111;
    background-color: #fff;
    font-size: 24px;
}

.chat-send:hover {
    color: #49B6FF;
    background-color: #fff;
    border-color: #49B6FF;
}

.user-message, .response-message {
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
}

.user-message {
    margin-left: auto;
    align-items: right;
    text-align: right;
    color: #fff;
    background-color: #02C39A;
}

.response-message {
    align-items: left;
    text-align: left;
    color: #111;
    background-color: #eee;
}

.response-message.alt {
    color: #fff;
    background-color: #49B6FF;
}

.chat-send:hover, .chat-close:hover {
    cursor: pointer;
}

.chat-footer {
    padding: 8px;
    padding-top: 0px;
    padding-left: 16px;

    font-size: 12px;
    font-family: "utopia-std", serif;
    font-weight: 200;
    font-style: normal;
    opacity: 0.25;
}

/* About Page */
.text-box {
    min-height: 92.5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-intro {
    border-right: 1px solid #111;
}

.about-intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    padding: 32px;
}

.about-text a:hover {
    color: #02C39A;
}